Practica4ParcialUYS/Web References/SitioCine/ServiCine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarPeli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPeliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPeliResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPeli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clasificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Duracion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Director" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Actores" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sinopsis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPeliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarPeliResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarPeliSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPeli" />
  </wsdl:message>
  <wsdl:message name="BuscarPeliSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPeliResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarPeli" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarPeliResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPeliHttpGetIn">
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarPeliHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliHttpGetIn">
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Genero" type="s:string" />
    <wsdl:part name="Clasificacion" type="s:string" />
    <wsdl:part name="Duracion" type="s:string" />
    <wsdl:part name="Director" type="s:string" />
    <wsdl:part name="Actores" type="s:string" />
    <wsdl:part name="Sinopsis" type="s:string" />
    <wsdl:part name="Fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="BuscarPeliHttpPostIn">
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarPeliHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliHttpPostIn">
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Genero" type="s:string" />
    <wsdl:part name="Clasificacion" type="s:string" />
    <wsdl:part name="Duracion" type="s:string" />
    <wsdl:part name="Director" type="s:string" />
    <wsdl:part name="Actores" type="s:string" />
    <wsdl:part name="Sinopsis" type="s:string" />
    <wsdl:part name="Fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GuardarPeliHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ServiCineSoap">
    <wsdl:operation name="BuscarPeli">
      <wsdl:input message="tns:BuscarPeliSoapIn" />
      <wsdl:output message="tns:BuscarPeliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <wsdl:input message="tns:GuardarPeliSoapIn" />
      <wsdl:output message="tns:GuardarPeliSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiCineHttpGet">
    <wsdl:operation name="BuscarPeli">
      <wsdl:input message="tns:BuscarPeliHttpGetIn" />
      <wsdl:output message="tns:BuscarPeliHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <wsdl:input message="tns:GuardarPeliHttpGetIn" />
      <wsdl:output message="tns:GuardarPeliHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiCineHttpPost">
    <wsdl:operation name="BuscarPeli">
      <wsdl:input message="tns:BuscarPeliHttpPostIn" />
      <wsdl:output message="tns:BuscarPeliHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <wsdl:input message="tns:GuardarPeliHttpPostIn" />
      <wsdl:output message="tns:GuardarPeliHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiCineSoap" type="tns:ServiCineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPeli">
      <soap:operation soapAction="http://tempuri.org/BuscarPeli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <soap:operation soapAction="http://tempuri.org/GuardarPeli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiCineSoap12" type="tns:ServiCineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPeli">
      <soap12:operation soapAction="http://tempuri.org/BuscarPeli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <soap12:operation soapAction="http://tempuri.org/GuardarPeli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiCineHttpGet" type="tns:ServiCineHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BuscarPeli">
      <http:operation location="/BuscarPeli" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <http:operation location="/GuardarPeli" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiCineHttpPost" type="tns:ServiCineHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BuscarPeli">
      <http:operation location="/BuscarPeli" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPeli">
      <http:operation location="/GuardarPeli" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiCine">
    <wsdl:port name="ServiCineSoap" binding="tns:ServiCineSoap">
      <soap:address location="http://192.168.1.96:8080/ServiCine.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiCineSoap12" binding="tns:ServiCineSoap12">
      <soap12:address location="http://192.168.1.96:8080/ServiCine.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiCineHttpGet" binding="tns:ServiCineHttpGet">
      <http:address location="http://192.168.1.96:8080/ServiCine.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiCineHttpPost" binding="tns:ServiCineHttpPost">
      <http:address location="http://192.168.1.96:8080/ServiCine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>